<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDBy3WiFVRh--KIED27gxKhkSvOKAYyeno</string>
	<key>GCM_SENDER_ID</key>
	<string>906062212282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vital.ShortRec</string>
	<key>PROJECT_ID</key>
	<string>shortrec-4b8c2</string>
	<key>STORAGE_BUCKET</key>
	<string>shortrec-4b8c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:906062212282:ios:493bed5b7c642a80196683</string>
</dict>
</plist>
